extends layout

block content
  section(class="featured")
    div(class="content-wrapper")
        hgroup(class="title")
            h2 Bespoke software development.  Choose the technology stack that best suits the solution.
            
  
  section(class="main-content")
    h3 Services:
    ol(class="round")
        li(class="one")
            h5 Mobile Apps
            p
             |Custom development of Android and iOS Apps that communicate with either .NET or Node.js webservices.  Specializing in Map and Location based apps.
        li(class="two")
            h5 eCommerce Applications
            p For selling online, choose from a custom solution, or a standard Magento site with customizable integration to shipping partners.
        li(class="three")
            h5 Bespoke Websites and Applications
            p Bespoke website development with a choice of the latest tech stacks from .NET, MEAN, Node.js,Angular.js, express.js, jade.js, React.js,Bootstrap.
            
              section(class="features")
        section(class="feature")
            img(src="/images/aspNetHome.png", alt="")
            h3 SilentBid
            p Custom Bidding Application.  Contact for more information.
            
        section(class="feature")
            img(src="/images/npm.png", alt="")
            h3 Pointr
            p Phone App that allows you to meet up with friends and view there location on route, or to find friends in a places like festivals, supermarkets, shopping centres.

        